<!DOCTYPE html>
<html>


<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Live Streaming</h3>
                <img src="{{ url_for('video_feed') }}" style="width:640px;height:480px;"><br/>
                <input type="text" placeholder="Type Here" /> <button>Save</button><br/>
                <input type="text" placeholder="Type Here" /> <button>Save</button>
            </div>
        </div>
    </div>
</body>


</html>